<div class="welcome-page game-bg" *ngIf="welcomePage">
  <header> Witaj w grze! Wprowadź swoje dane, aby rozpocząć.</header>
  <form>
    <label>
      Imię gracza:
      <input [(ngModel)]="playerName" name="playerName" type="text">
    </label>
    <br>
    <label>
      Email gracza:
      <input [(ngModel)]="playerEmail" name="playerEmail" type="email">
    </label>
    <br>
    <button (click)="startGame()">Ssss..start</button>
    
  </form>
</div>
<div class="game-container game-bg">
  <div class="game-square">
<div *ngIf="showGame">
  <ngx-snake #game (foodEaten)="incrementPoints()"></ngx-snake>
  <div class="game-controls">
    <div class="game-button">
      <button (click)="game.actionUp()">Up</button>
      <button (click)="game.actionLeft()">Left</button>
      <button (click)="game.actionRight()">Right</button>
      <button (click)="game.actionDown()">Down</button>
    </div>
    <div class="game-start-stop">
      <button (click)="game.actionStart()">Start</button>
      <button (click)="game.actionStop()">Stop</button>
    </div>
    <div class="exit-button">
      <button (click)="exitGame()">Wyjdź z gry</button>
    </div>
    <div class="reset-button">
      <button (click)="game.actionReset()">Reset</button>
    </div>
</div>
<div [class.hide-text]="!showGame">
  Liczba punktów: {{points}} Czas spędzony na grze: {{elapsedTimeString}} minuty
</div>
